.container {
	width: 100%;
}

.tableWrapper {
	overflow-x: auto;
	width: 100%;
}

.table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 10px;
	table-layout: fixed;
	min-width: 100%; /* Ensures the table takes up at least full width */
}

.thead {
	background-color: #f5f7f766;
}

th,
td {
	padding: 8px 4px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; /* Added to handle text overflow */
}

th {
	color: #2a3342;
	opacity: 60%;
	font-weight: 400;
}

tr,
.tr {
	/* background-color: #ffffff; */
	cursor: pointer;
	margin: 0;
}
ul {
	margin: 0;
}

tbody tr:hover,
.tr:hover {
	/* background-color: #f5f7f7; */
}

.tr {
	display: table-row;
	vertical-align: inherit;
	unicode-bidi: isolate;
	border-color: inherit;
}

.loaderContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 300px;
}

@media (max-width: 768px) {
	.container_forCard {
		max-width: calc(100vw - 40px); /* Adjust based on your card's padding */
	}
}

@media (max-width: 480px) {
	.table {
		font-size: 10px;
	}

	th,
	td {
		padding: 4px 1px;
	}
}
