.ranking {
	background-color: #7d94a533;
	color: #7d94a5;
	border-radius: 6px;
	width: 60px;
	padding: 3px;
	height: 32px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 16px;
}

.rankingContainer {
	display: flex;
	justify-content: start;
}

.country {
	color: #7d94a5;
}

.nameContainer {
	display: flex;
	text-align: center;
	gap: 3px;
}
