.breadCrumb {
  display: flex;
  flex-wrap: wrap;
}

.innerBreadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 768px) {
  .breadCrumb {
    font-size: 11px;
  }
}
