@font-face {
	font-family: "Loos-Normal";
	src: url("./fonts/Loos.otf") format("opentype");
	font-style: normal;
	font-display: swap;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Loos-Normal";
}

.background {
	position: absolute;
	width: 100%;
	max-width: 1550px;
	right: 0;
	height: auto;
	max-height: 495px;
}

.flag {
	width: 24px;
	height: 24px;
	border-radius: 2px;
	display: flex;
	align-items: center;
}

.container {
	padding: 0px 0px 30px 0px;
	justify-content: center;
	display: flex;
}

@media (max-width: 768px) {
	.container {
		padding: 0px 15px 15px 15px;
	}

	.flag {
		width: 20px;
		height: 20px;
	}
}
