@font-face {
	font-family: "Loos-Normal";
	src: url("./fonts/Loos.otf") format("opentype");
	font-style: normal;
	font-display: swap;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Loos-Normal";
}

.background {
	position: absolute;
	width: 1550px;
	right: 0;
	height: 495px;
}

.flag {
	width: 24px;
	height: 24px;
	border-radius: 4px;
	height: min-content;
}

.container {
	padding: 0px 0px 30px 0px;
	justify-content: center;
	display: flex;
}
