.marqueeContainer {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;
}

.marqueeContent {
	position: relative;
	will-change: transform;
	transform: translateY(0);
	backface-visibility: hidden;
}

.animate {
	animation: marqueeVertical var(--scroll-speed) linear infinite;
}

@keyframes marqueeVertical {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(calc(-50%));
	}
}

/* Pause animation on hover */
/* .marqueeContainer:hover .marqueeContent {
	animation-play-state: paused;
} */
